.beginning{
    padding-top: 50px;
}
.fans{
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}
.intro-para{
    font-size: 20px;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 500;
}
.build{
    margin-top: 120px;
}
#free{
  margin-left: 50%;
  color: #ff66bd;
  border-radius: 30px;
  border-color:#ff66bd ;
  background-color: white;
  
}
#logo{
    margin-left: 10%;
    width: 300px;
    height:40px;
}
#started{
    background-color: #ff66bd;
    color: white;
    border-radius: 30px;
    border-color: #ff66bd;
    width: 350px;
    height: 60px;
}
.stats{
    width: 5%;
    height: 5%;
    margin-right: 20%;
}
#mockup{
    width: 80%;
    height: 50%;
}
.numbers{
    font-size: 70px;
    font-weight: bold;
}
.words{
 font-size: 20px;
 color: #a1b7c2;
}


.grow::before{
        content: '';
        background: url(/images/bg-section-top-desktop-1.png);
        position:absolute;
        top:0px;
        left:0px;

}
section{
    padding: 60px 0;
}
.inverted{
    background-color: black;
    width: 300px;
    height:40px;
}
.foot{
    background-color: black;
    color: white;
}

button{
    width: 100px;
    height: 45px;
}

/* trying to add multiple bg images for the grow section  */
.grow, .users{

    background-color: #F6FBFF;
}
.grow::before{
    content: '';
    background:url('/images/bg-section-bottom-desktop-1.png');
    width: 100%;
    height:inherit;
    display: block;
  }
  .section-title{
      margin-top: 100px;
  }

  

.growing_pic{
    padding-left: 100px;
}
.convo_pic{
    padding-right: 100px;
}
.phone{
    width: 30px;
 height: 30px;
 
}
.phone-icons{
    padding: 70px 0;
}
#subscribe{
    background-color: #ff66bd;
    color: white;
    
    border-color: #ff66bd;
}
.icon-row{
    margin-left: -10px;
}
.sub-row{
    margin-left: -15px;
}
.email{
    border-radius: 5px;
}
/* .grow::before { 
    content: '';
    background: url('/images/bg-section-top-desktop-1.png') ;
    position: absolute;
    opacity:1;
    top: -30px;
    left: 0px;
    width: 100%;
    height: inherit;
    z-index: -1;
}
*/
.lg{
    margin: 100px 0;
}
.grow-con::before{
    content: url(/images/bg-section-bottom-desktop-1.png);
}
